In [29]:
run eda2.py

eda2.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  bg_df['bg_appopen'] = 1

In [30]:
group_all_tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43194 entries, 1 to 43194
Data columns (total 43 columns):
appopen                         23654 non-null float64
max_open/day                    23654 non-null float64
use_age                         23654 non-null float64
churn                           23654 non-null float64
1w_open                         23654 non-null float64
1w_crit                         14793 non-null float64
1wacute                         14793 non-null float64
1w_bg_entry                     14793 non-null float64
1w_carbent                      4915 non-null float64
1w_wtent                        3867 non-null float64
tot_wt_ent                      11719 non-null float64
max_wtent/day                   11719 non-null float64
days_f0wt                       11719 non-null float64
max_carbent/day                 5718 non-null float64
days_f0crb                      5718 non-null float64
tot_carbent                     5718 non-null float64
min_bg                          15388 non-null float64
max_bg                          15388 non-null float64
avg_bg                          15388 non-null float64
tot_critical                    15388 non-null float64
tot_acute                       15388 non-null float64
tot_bg_open                     15388 non-null float64
max_bg_open                     15388 non-null float64
bg_user_age                     15388 non-null float64
BG_Schedule                     8288 non-null float64
dateOfFirstLaunch               37508 non-null datetime64[ns]
Meal_Reminders_Set              4222 non-null object
TrackingExerciseMinutes         21102 non-null object
Total_BG_Reminders              6441 non-null float64
carbBudget                      30112 non-null float64
diabetes.type_Gestational       43194 non-null float64
diabetes.type_LADA              43194 non-null float64
diabetes.type_Other             43194 non-null float64
diabetes.type_Pre-diabetic      43194 non-null float64
diabetes.type_Prediabetes       43194 non-null float64
diabetes.type_Type I            43194 non-null float64
diabetes.type_Type II           43194 non-null float64
gender_Female                   43194 non-null float64
gender_Male                     43194 non-null float64
CarbEntryPreference_estimate    43194 non-null float64
CarbEntryPreference_numeric     43194 non-null float64
UserTreatmentType_Both          43194 non-null float64
UserTreatmentType_Meds          43194 non-null float64
dtypes: datetime64[ns](1), float64(40), object(2)
memory usage: 14.5+ MB

In [31]:
bg_values.head()

,Date,bg,user_id,critical,acute,bg_appopen,max_open/day,days_f0bg,bins
0,2016-06-16 14:00:00,111.0,16170,0,0,1,4,46,"(42, 56]"
1,2016-06-15 05:00:00,127.0,16170,0,0,1,4,45,"(42, 56]"
2,2016-07-12 05:00:00,114.0,16170,0,0,1,4,72,"(70, 84]"
3,2016-06-03 06:00:00,111.0,16170,0,0,1,4,33,"(28, 42]"
4,2016-06-23 05:00:00,120.0,16170,0,0,1,4,53,"(42, 56]"

In [32]:
group_all_tables.head()

,appopen,max_open/day,use_age,churn,1w_open,1w_crit,1wacute,1w_bg_entry,1w_carbent,1w_wtent,...,diabetes.type_Pre-diabetic,diabetes.type_Prediabetes,diabetes.type_Type I,diabetes.type_Type II,gender_Female,gender_Male,CarbEntryPreference_estimate,CarbEntryPreference_numeric,UserTreatmentType_Both,UserTreatmentType_Meds
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22.0,3.0,60.0,1.0,3.0,0.0,0.0,1.0,NaN,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,14.0,6.0,3.0,1.0,14.0,0.0,0.0,2.0,1.0,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5,4.0,2.0,56.0,1.0,2.0,NaN,NaN,NaN,1.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [58]:
g = group_all_tables.reset_index()

In [61]:
g.head()

,user_id,appopen,max_open/day,use_age,churn,1w_open,1w_crit,1wacute,1w_bg_entry,1w_carbent,...,diabetes.type_Pre-diabetic,diabetes.type_Prediabetes,diabetes.type_Type I,diabetes.type_Type II,gender_Female,gender_Male,CarbEntryPreference_estimate,CarbEntryPreference_numeric,UserTreatmentType_Both,UserTreatmentType_Meds
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,22.0,3.0,60.0,1.0,3.0,0.0,0.0,1.0,NaN,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2,3,14.0,6.0,3.0,1.0,14.0,0.0,0.0,2.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,5,4.0,2.0,56.0,1.0,2.0,NaN,NaN,NaN,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [63]:
g.shape

(43194, 44)

In [70]:
nan = g[g.user_id==1]['appopen'].values

In [79]:
g = g.dropna(subset=['appopen'])

In [2]:
g.head()

NameError: name 'g' is not defined

In [80]:
g.shape

(23654, 44)

In [60]:
g.isnull().sum()

user_id                             0
appopen                         19540
max_open/day                    19540
use_age                         19540
churn                           19540
1w_open                         19540
1w_crit                         28401
1wacute                         28401
1w_bg_entry                     28401
1w_carbent                      38279
1w_wtent                        39327
tot_wt_ent                      31475
max_wtent/day                   31475
days_f0wt                       31475
max_carbent/day                 37476
days_f0crb                      37476
tot_carbent                     37476
min_bg                          27806
max_bg                          27806
avg_bg                          27806
tot_critical                    27806
tot_acute                       27806
tot_bg_open                     27806
max_bg_open                     27806
bg_user_age                     27806
BG_Schedule                     34906
dateOfFirstLaunch                5686
Meal_Reminders_Set              38972
TrackingExerciseMinutes         22092
Total_BG_Reminders              36753
carbBudget                      13082
diabetes.type_Gestational           0
diabetes.type_LADA                  0
diabetes.type_Other                 0
diabetes.type_Pre-diabetic          0
diabetes.type_Prediabetes           0
diabetes.type_Type I                0
diabetes.type_Type II               0
gender_Female                       0
gender_Male                         0
CarbEntryPreference_estimate        0
CarbEntryPreference_numeric         0
UserTreatmentType_Both              0
UserTreatmentType_Meds              0
dtype: int64

In [7]:
fig = plt.figure()
ax = fig.add_subplot(1, 1, 1)

user_ids = bg_values.user_id.unique()[:10]

for user_id in user_ids:
    sub_df = bg_values[bg_values.user_id == user_id]
    sub_df.sort_values(by = ['days_f0bg', 'bg'], axis=0, ascending=[True, True], inplace=True)
    
    x = sub_df.days_f0bg
    y = sub_df.bg
    
    #plt.scatter(x = x, y = y, c = np.random.rand(3,1))

    sub_df.plot(x = 'days_f0bg', y = 'bg', c = np.random.rand(3,1), ax = ax, kind = 'line')
    
#plt.xlim(0,100)
#plt.ylim(0,400)
plt.show()

NameError: name 'bg_values' is not defined

In [6]:
import numpy as np
from matplotlib import pyplot as plt
from matplotlib import animation