In [1]:
import pandas as pd
import pandas as pd
import random
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.tools.plotting import scatter_matrix
from bokeh.charts import Bar, output_file, show
import datetime as dt
import numpy as np

In [2]:
%matplotlib inline

In [3]:
run eda2.py

In [4]:
run plot_eda.py

ERROR:root:File `u'plot_eda.py'` not found.

In [7]:
def get_low_risk_users(bg_values):
    s = bg_values[bg_values['acute']==0]
    sh = bg_values[bg_values['critical']==0]
    s = s.set_index('user_id')
    sh = sh.set_index('user_id')
    sh.drop(['Date','critical', 'acute'], axis =1)
    ch1 = pd.concat([s,sh], axis=1, join='inner')
    return ch1

In [10]:
get_low_risk_users(bg_values)

KeyboardInterrupt:

In [9]:
bg_values.shape

(436025, 5)

In [11]:
 s = bg_values[bg_values['acute']==0]
sh = bg_values[bg_values['critical']==0]
s = s.set_index('user_id')
sh = sh.set_index('user_id')
sh = sh.drop(['Date','critical', 'acute'], axis =1)

In [17]:
 sg = bg_values[bg_values['acute']==0]['user_id']

In [24]:
bg_values.head()

                 Date  value  user_id  critical  acute
0 2016-06-16 14:00:00  111.0    16170         0      0
1 2016-06-15 05:00:00  127.0    16170         0      0
2 2016-07-12 05:00:00  114.0    16170         0      0
3 2016-06-03 06:00:00  111.0    16170         0      0
4 2016-06-23 05:00:00  120.0    16170         0      0

In [23]:
nn = set(sg.values.tolist())

In [40]:
low_users = []

In [41]:

for row in nn:
    # Add 1 to the row and append it to next_year
    low_users.append(bg_values[bg_values['user_id']==users])

In [42]:
low_users[2]

                      Date  value  user_id  critical  acute
434529 2016-08-30 06:00:00  137.0    36061         0      0
434530 2016-08-29 17:00:00  132.0    36061         0      0
434531 2016-08-29 19:00:00  109.0    36061         0      0
434532 2016-08-30 19:00:00  139.0    36061         0      0

In [34]:
bg_values[bg_values['user_id']==users for users in nn]

SyntaxError: invalid syntax (<ipython-input-34-c31789a8cdcc>, line 1)

In [29]:
b.shape

(4, 5)

In [32]:
len(nn)

15244

In [33]:
b

                      Date  value  user_id  critical  acute
434529 2016-08-30 06:00:00  137.0    36061         0      0
434530 2016-08-29 17:00:00  132.0    36061         0      0
434531 2016-08-29 19:00:00  109.0    36061         0      0
434532 2016-08-30 19:00:00  139.0    36061         0      0