In [1]:
run eda1.py

eda1.py:436: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  more_thn_five['1w_engagement']= more_thn_five['1w_open']/7

In [232]:
group_all_tables.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31495 entries, 0 to 31494
Data columns (total 71 columns):
level_0                         31495 non-null int64
index                           31495 non-null float64
user_id                         31495 non-null float64
appopen                         31495 non-null float64
max_open/day                    31495 non-null float64
use_age                         31495 non-null float64
Churn                           31495 non-null float64
1d_open                         31495 non-null float64
2dacute                         17853 non-null float64
2d_crit                         17853 non-null float64
2d_bg_entry                     17853 non-null float64
min_bg_2d                       17853 non-null float64
max_bg_2d                       17853 non-null float64
1d_carbent                      5920 non-null float64
1d_wtent                        4548 non-null float64
1w_open                         31495 non-null float64
1w_crit                         18377 non-null float64
1wacute                         18377 non-null float64
1w_bg_entry                     18377 non-null float64
min_bg_1w                       18377 non-null float64
max_bg_1w                       18377 non-null float64
1w_carbent                      6295 non-null float64
1w_wtent                        4929 non-null float64
session_interval                31495 non-null float64
1month/week_open                5826 non-null float64
count                           5826 non-null float64
1m_crit                         4514 non-null float64
1macute                         4514 non-null float64
1m_bg_entry                     4514 non-null float64
min_bg_1m                       4514 non-null float64
max_bg_1m                       4514 non-null float64
1month_engagement               5826 non-null float64
tot_wt_ent                      8788 non-null float64
max_wtent/day                   8788 non-null float64
days_f0wt                       8788 non-null float64
max_carbent/day                 4232 non-null float64
days_f0crb                      4232 non-null float64
tot_carbent                     4232 non-null float64
min_bg                          11353 non-null float64
max_bg                          11353 non-null float64
avg_bg                          11353 non-null float64
tot_critical                    11353 non-null float64
tot_acute                       11353 non-null float64
tot_bg_open                     11353 non-null float64
>20_x                           8257 non-null float64
<-20_x                          8257 non-null float64
max_bg_open                     11353 non-null float64
bg_user_age                     11353 non-null float64
>20_y                           8257 non-null float64
<-20_y                          8257 non-null float64
BG_Schedule                     6128 non-null object
dateOfFirstLaunch               28065 non-null datetime64[ns]
Meal_Reminders_Set              3656 non-null object
TrackingExerciseMinutes         16334 non-null object
carbBudget                      20886 non-null float64
diabetes.type_Gestational       31494 non-null float64
diabetes.type_LADA              31494 non-null float64
diabetes.type_Other             31494 non-null float64
diabetes.type_Pre-diabetic      31494 non-null float64
diabetes.type_Prediabetes       31494 non-null float64
diabetes.type_Type I            31494 non-null float64
diabetes.type_Type II           31494 non-null float64
gender_Female                   31494 non-null float64
gender_Male                     31494 non-null float64
CarbEntryPreference_estimate    31494 non-null float64
CarbEntryPreference_numeric     31494 non-null float64
UserTreatmentType_Both          31494 non-null float64
UserTreatmentType_Insulin       31494 non-null float64
UserTreatmentType_Meds          31494 non-null float64
engagement                      31495 non-null float64
bg/appopen                      11353 non-null float64
dtypes: datetime64[ns](1), float64(66), int64(1), object(3)
memory usage: 17.3+ MB

In [233]:
grouped_add_1week.head()

,index,user_id,appopen,max_open/day,use_age,Churn,1d_open,2dacute,2d_crit,2d_bg_entry,...,1w_wtent,session_interval,1month/week_open,count,1m_crit,1macute,1m_bg_entry,min_bg_1m,max_bg_1m,1month_engagement
0,0,1,204,25,77,1,17,4.0,2.0,4.0,...,5.0,2.264706,4.0,3.0,0.0,1.0,2.0,136.0,325.0,0.571429
1,1,2,163,39,101,1,57,0.0,0.0,7.0,...,3.0,1.980392,8.0,4.0,0.0,0.0,5.0,126.0,180.0,1.142857
2,2,4,2,1,5,1,1,0.0,0.0,1.0,...,NaN,2.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8,3,2,4,1,2,NaN,NaN,NaN,...,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9,100,6,183,0,3,NaN,NaN,NaN,...,NaN,2.691176,3.0,3.0,NaN,NaN,NaN,NaN,NaN,0.428571

In [196]:
group_all_tables.shape

(31495, 71)

In [214]:
after_min_time = user_profiles[user_profiles.dateOfFirstLaunch>= open_by_user.Date.min()].reset_index()

In [216]:
user_ids.shape

(32923,)

In [209]:
user_profiles= user_profiles.reset_index()

In [217]:
usr_prf = user_profiles['user_id'].unique()

In [221]:
usr_prf.shape

(54179,)

In [218]:
users_to_del = [user for user in usr_prf if user not in user_ids]

In [220]:
len(users_to_del)

21256

In [222]:
open_by_user.user_id.unique().shape

(31495,)

In [228]:
def tables_without_oldusers(df, user_profiles):
    after_min_time = user_profiles[user_profiles.dateOfFirstLaunch>= open_by_user.Date.min()].reset_index()
    user_ids = after_min_time.user_id.unique()
    user_profiles= user_profiles.reset_index()
    usr_prf = user_profiles['user_id'].unique() 
    users_to_del = [user for user in usr_prf if user not in user_ids]
    df.drop(users_to_del, inplace=True)
    return df

In [229]:
open_by_user.shape

(405568, 9)

In [ ]:
grouped_all

In [230]:
open_by_2=tables_without_oldusers(open_by_user, user_profiles)

In [231]:
open_by_2.shape

(384312, 9)

In [7]:
open_by_user.to_csv('open_by_user.csv')

In [8]:
group_all_tables.to_csv('group_all_tables.csv')

In [18]:
open_by_user1 = pd.read_csv('open_by_user.csv')

In [19]:
open_by_user1.shape

(405568, 10)

In [9]:
bg_values.to_csv('bg_values.csv')

In [10]:
bg_to_join_final.to_csv('bg_grouped.csv')

In [12]:
user_profiles['dateOfFirstLaunch'].min()

Timestamp('2015-09-23 14:01:53')

In [16]:
open_by_user = open_by_user[open_by_user.min_date>= user_profiles.dateOfFirstLaunch.min()]

In [17]:
open_by_user.shape

(405568, 9)

In [20]:
import statsmodels.regression.linear_model as sm

In [26]:
from sklearn.cross_validation import train_test_split

In [21]:
from sklearn.linear_model import LogisticRegression

In [33]:
df = group_all_tables[['tot_bg_open', 'Churn']]